/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

header nav {
    display: flex;
    gap: 20px; /* Espaçamento entre links */
    flex-grow: 1;
    margin-left: 15px; /* Margem entre o logo e os links */
}

header nav a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.4s ease; /* Transição suave */
}

header nav a:hover {
    color: #007bff;
}

/* Botão Login/Logout */
.auth-links {
    display: flex;
    align-items: center;
}

.auth-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.auth-button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        flex-grow: 0;
        margin-left: 0;
        margin-top: 10px;
    }

    .auth-links {
        margin-top: 10px;
    }
}
