/* Paleta de cores e estilo geral */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-light: #f8f8f8;
    --background-dark: #222;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --border-radius: 15px;
    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-light);
    color: var(--text-color-dark);
    line-height: 1.6;
  }
  
  /* Hero Section */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/banner.png');
    background-size: cover;
    background-position: center;
    padding: 100px 60px;
    height: calc(100vh - 70px); /* Ajusta para altura total menos o header */
    position: relative;
    color: var(--text-color-light);
  }
  
  .hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sombra escura */
    z-index: 0;
  }
  
  .hero-left {
    max-width: 50%;
    z-index: 1;
  }
  
  .hero-left h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  
  .hero-left p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 450px;
  }
  
  .hero-right {
    background-color: var(--text-color-light);
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 400px;
    z-index: 1;
  }
  
  /* Serviços */
  .services-section {
    background: var(--background-light);
    padding: 80px 60px;
    text-align: center;
  }
  
  .services-title {
    font-size: 2.8rem;
    margin-bottom: 50px;
  }
  
  .services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: var(--text-color-light);
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  /* Seção de Contato */
  .contact-section {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 80px 60px;
    text-align: center;
  }
  
  .contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  /* Footer */
  .footer {
    background-color: var(--background-dark);
    color: var(--text-color-light);
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  